<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>

  <!-- Suppress
  23:56:14.591 [grpc-default-executor-2] INFO  io.zeebe.client.job.poller - Activated 7 jobs for worker default and job type return-money
  -->
  <logger name="io.zeebe.client.job.poller" level="WARN"/>
</configuration>